<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O2 Content Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
    <nav>
        <div class="wrapper">
            <div class="logo"><a href=''>Boiler O<sub>2</sub> Predictor</a></div>
            <div class="menu">
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/result">Result</a></li>
                    <li><a href="/prediction">Prediction</a></li>
                    <li><a href="/graph">Graph</a></li>
                    <li><a href="/" class="tbl-biru">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <!-- untuk home -->
        <section id="home">
            <img src= "{{ url_for('static', filename= "images/diagram boiler.PNG")}}" />
            <div class="kolom">
                <p class="deskripsi">Pentingnya pengukuran kandungan oksigen</p>
                <h2>Permasalahan pada boiler</h2>
                <p>Ketika kandungan oksigen di dalam flue gas <b>berlebih</b> dari batas optimal, maka akan menyebabkan temperatur pembakaran menurun, sehingga meningkatkan heat loss terbawa menuju atmosfer.</p>
                <p>Sebaliknya, ketika kandungan oksigen dalam flue gas lebih <b>sedikit</b> dari batas optimal akan mengurangi efisiensi pembakaran karena terdapat komponen bahan bakar yang tidak terbakar dan kemudian membahayakan keamanan operasi.</p>
            </div>
        </section>

        <!-- untuk Overview -->
        <section id="Overview">
            <div class="kolom">
                <p class="deskripsi"></p>
                <h2>Permasalahan Sensor Zirkonia</h2>
                <p>Pada kilang minyak PT. Pertamina RU V Balikpapan terdapat pembangkit listrik dengan 6
                    unit boiler yang digunakan untuk membangkitkan steam sebagai umpan menuju steam turbine
                    generator. Kandungan oksigen pada boiler diukur menggunakan Zirkonia Oxygen Analyzer atau
                    Thermomagnetic Oxygen Analyzer. Instrumen ini memiliki berbagai kekurangan, diantaranya
                    presisi pengukuran yang rendah, tinggi biaya pemeliharaan dan masa pakai yang singkat, yang
                    sebenarnya tidak kondusif untuk pemantauan real-time jangka panjang, dan tidak dapat menjamin
                    boiler beroperasi di bawah pembakaran terbaik. Tidak tersedianya perangkat redundansi
                    menjadi kendala utama apabila perangkat tersebut rusak atau mengalami penurunan kinerja, akibatnya pengukuran kandungan oksigen harus dilakukan secara manual. Keselamatan pekerja
                    menjadi faktor utama mengingat medan di lapangan memiliki tingkat resiko bahaya yang tinggi.</p>
            </div>
            <img class = "zirkon" src= "{{ url_for('static', filename= "images/zirkonia.PNG")}}" />
        </section>

    <div id="contact">
        <div class="wrapper">
            <div class="footer">
                <div class="footer-section">
                    <h3>Tentang</h3>
                    <p><b>Penelitian Tugas Akhir: </b> <br> Soft Sensor berbasis Xtreme Gradien Boosting untuk prediksi nilai kandungan oksigen dalam flue gas pada boiler PT Pertamina RU V Balikpapan. </p>
                </div>
                <div class="footer-section">
                    <h3>Pembimbing</h3>
                    <p><b>Pembimbing 1 :</b> <br> Ir. Nazrul Effendy, S. T., M. Eng., Ph.D., IPM</p>
                    <p><b>Pembimbing 2 :</b> <br> Ir. Agus Arif, M.T.</p>
                </div>
                <div class="footer-section">
                    <h3>Alamat</h3>
                    <p><b>Departemen Teknik Nuklir & Teknik Fisika</b><br>
                    Fakultas Teknik, Universitas Gadjah Mada<br>
                    Jl. Grafika 2, Yogyakarta 55281, Indonesia<br>
                    Phone/Fax: +62-274-580882<br>
                    Email: dtntf.ft@ugm.ac.id</p>
                </div>
                <div class="footer-section">
                    <h3>Social</h3>
                    <p><b>LinkedIn: </b> <br> www.linkedin.com/in/eko-david-kurniawan </p>
                    <p><b>Github: </b> <br> ekodavidkurnia</p>
                    <p>ekodavidkurnia@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

    <div id="copyright">
        <div class="wrapper">
            &copy; 2021. <b>Eko David Kurniawan</b>
        </div>
    </div>
    
    
</body>
</html>