<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O2 Content Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
</head>
<body>
    <nav class="navbar">
        <div class="content">
          <div class="logo">
            <a href="#">Boiler O<sub>2</sub> Predictor</a>
          </div>
          <ul class="menu-list">
            <div class="icon cancel-btn">
              <i class="fas fa-times"></i>
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/result">Result</a></li>
            <li><a href="/prediction">Prediction</a></li>
            <li><a href="/graph">Dataset</a></li>
          </ul>
          <div class="icon menu-btn">
            <i class="fas fa-bars"></i>
          </div>
        </div>
    </nav>

    <div class="banner"></div>
    <div class="about">
        <div class="content">
          <div class="title">Pentingnya pengukuran kandungan oksigen</div>
        </div>
    </div>
    
    <script>
        const body = document.querySelector("body");
        const navbar = document.querySelector(".navbar");
        const menuBtn = document.querySelector(".menu-btn");
        const cancelBtn = document.querySelector(".cancel-btn");
        menuBtn.onclick = ()=>{
          navbar.classList.add("show");
          menuBtn.classList.add("hide");
          body.classList.add("disabled");
        }
        cancelBtn.onclick = ()=>{
          body.classList.remove("disabled");
          navbar.classList.remove("show");
          menuBtn.classList.remove("hide");
        }
        window.onscroll = ()=>{
          this.scrollY > 20 ? navbar.classList.add("sticky") : navbar.classList.remove("sticky");
        }
    </script>
    <div class="content">
        <!-- untuk home -->
        <section id="home">
            <img src= "{{ url_for('static', filename= "images/diagram boiler.PNG")}}" />
            <div class="kolom">
                <h2>Permasalahan pada boiler</h2>
                <p>Ketika kandungan oksigen di dalam flue gas <b>berlebih</b> dari batas optimal, maka akan menyebabkan temperatur pembakaran menurun, sehingga meningkatkan heat loss terbawa menuju atmosfer.</p>
                <p>Sebaliknya, ketika kandungan oksigen dalam flue gas lebih <b>sedikit</b> dari batas optimal akan mengurangi efisiensi pembakaran karena terdapat komponen bahan bakar yang tidak terbakar dan kemudian membahayakan keamanan operasi.</p>
            </div>
        </section>

        <!-- untuk Overview -->
        <section id="Overview">
            <div class="kolom">
                <p class="deskripsi"></p>
                <h2>Permasalahan Sensor Zirkonia</h2>
                <p>Pada kilang minyak PT. Pertamina RU V Balikpapan terdapat pembangkit listrik dengan 6
                    unit boiler yang digunakan untuk membangkitkan steam sebagai umpan menuju steam turbine
                    generator. Kandungan oksigen pada boiler diukur menggunakan Zirkonia Oxygen Analyzer atau
                    Thermomagnetic Oxygen Analyzer. Instrumen ini memiliki berbagai kekurangan, diantaranya
                    presisi pengukuran yang rendah, tinggi biaya pemeliharaan dan masa pakai yang singkat, yang
                    sebenarnya tidak kondusif untuk pemantauan real-time jangka panjang, dan tidak dapat menjamin
                    boiler beroperasi di bawah pembakaran terbaik. Tidak tersedianya perangkat redundansi
                    menjadi kendala utama apabila perangkat tersebut rusak atau mengalami penurunan kinerja, akibatnya pengukuran kandungan oksigen harus dilakukan secara manual. Keselamatan pekerja
                    menjadi faktor utama mengingat medan di lapangan memiliki tingkat resiko bahaya yang tinggi.</p>
            </div>
            <img class = "zirkon" src= "{{ url_for('static', filename= "images/zirkonia.PNG")}}" />
        </section>
    </div>

    <footer>
      <div class="main-content">
        <div class="left box">
          <h2>Tentang</h2>
          <div class="content">
            <p><b>Penelitian Tugas Akhir: </b> <br> Soft Sensor berbasis Xtreme Gradien Boosting untuk prediksi nilai kandungan oksigen dalam flue gas pada boiler PT Pertamina RU V Balikpapan. </p>
            <div class="social">
              <a href="https://www.linkedin.com/in/eko-david-kurniawan"><span class="fab fa-linkedin"></span></a>
              <a href="https://github.com/ekodavidkurnia"><span class="fab fa-github-square"></span></a>
              <a href="https://www.instagram.com/edavidkurnia/"><span class="fab fa-instagram"></span></a>
              <a href="#"><span class="fab fa-youtube"></span></a>
            </div>
          </div>
        </div>

        <div class="center box">
          <h2>Alamat</h2>
          <div class="content">
            <div class="place">
              <span class="fas fa-map-marker-alt"></span>
              <span class="text"><b>Departemen Teknik Nuklir & Teknik Fisika</b><br>
                Fakultas Teknik, Universitas Gadjah Mada<br>
                Jl. Grafika 2, Yogyakarta 55281, Indonesia</span>
            </div>
            <div class="phone">
              <span class="fas fa-phone-alt"></span>
              <span class="text">+62-274-580882</span>
            </div>
            <div class="email">
              <span class="fas fa-envelope"></span>
              <span class="text">dtntf.ft@ugm.ac.id</span>
            </div>
          </div>
        </div>

        <div class="right box">
          <h2>Pembimbing</h2>
          <div class="content">
            <div class="place">
              <span class="text"><b>Pembimbing 1 :</b> <br> Ir. Nazrul Effendy, S. T., M. Eng., Ph.D., IPM</span>
            </div>
            <div class="phone">
              <span class="text"><b>Pembimbing 2 :</b> <br> Ir. Agus Arif, M.T.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <center>
          <span class="credit">Created By <a href="www.linkedin.com/in/eko-david-kurniawan">Eko David Kurniawan</a> | </span>
          <span class="far fa-copyright"></span><span> 2021 All rights reserved.</span>
        </center>
      </div>
    </footer>
    
    
</body>
</html>