<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O2 Content Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
    <nav>
        <div class="wrapper">
            <div class="logo"><a href=''>Boiler O<sub>2</sub> Predictor</a></div>
            <div class="menu">
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/result">Result</a></li>
                    <li><a href="/prediction">Prediction</a></li>
                    <li><a href="/graph">Graph</a></li>
                    <li><a href="/" class="tbl-biru">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <!-- untuk home -->
        <section id="home">
            <div class="kolom">
                <h2>Details</h2>
                <p>Selamat datang di halaman beranda apps.</p>
                <p>Project ini sebagai syarat untuk mencapai jenjang derajat Sarjana S-1 di Program Studi Teknik Fisika, Fakultas Teknik, Universitas Gadjah Mada. dengan judul <b>"Soft Sensor berbasis Xtreme Gradien Boosting untuk prediksi nilai kandungan oksigen dalam flue gas pada boiler PT Pertamina RU V Balikpapan."</b></p>
                <h2>Overview</h2>
                <p>Dalam pembangkit listrik termal bahan bakar-gas, keadaan pembakaran boiler memiliki dampak langsung pada konsumsi unit. Ketika boiler bekerja dalam kondisi pembakaran yang optimal, boiler harus menjaga sejumlah udara berlebih. Kandungan oksigen dalam gas buang tidak hanya merupakan parameter pemantauan penting dari operasi boiler, tetapi juga merupakan dasar penting untuk mencerminkan kesempurnaan peralatan pembakaran dan operasi boiler. Secara tradisional, kandungan oksigen diukur dengan Zirkonia Oxygen Analyzer atau Thermomagnetic Oxygen Analyzer. Instrumen ini memiliki presisi pengukuran yang rendah, biaya perawatan yang tinggi, dan masa pakai yang singkat, yang tidak kondusif untuk pemantauan waktu nyata jangka panjang, dan tidak dapat menjamin boiler untuk beroperasi di bawah kondisi pembakaran terbaik. </p>
                <p>Teknik penginderaan lunak <i>(Soft Sensor)</i> yang digunakan sebagai pengukuran tidak langsung belakangan ini telah menjadi perhatian di bidang kontrol dan deteksi proses. Sebagai jenis baru dari teknologi deteksi parameter, sensor lunak ini menyediakan cara yang efektif untuk menyelesaikan deteksi parameter proses industri yang kompleks. </p>
                <p>Dalam project ini, kami menjelaskan pendekatan sensor lunak yang berbeda menggunakan algoritma kecerdasan buatan untuk memprediksi nilai Kandungan Oksigen Boiler serta <i>scalable end-to-end tree boosting system</i> yang disebut <b>XGBoost</b>, yang akan menjadi model utama dengan penjelasan lebih lanjut.</p>
            </div>
        </section>

    <div id="contact">
        <div class="wrapper">
            <div class="footer">
                <div class="footer-section">
                    <h3>Tentang</h3>
                    <p><b>Penelitian Tugas Akhir: </b> <br> Soft Sensor berbasis Xtreme Gradien Boosting untuk prediksi nilai kandungan oksigen dalam flue gas pada boiler PT Pertamina RU V Balikpapan. </p>
                </div>
                <div class="footer-section">
                    <h3>Pembimbing</h3>
                    <p><b>Pembimbing 1 :</b> <br> Ir. Nazrul Effendy, S. T., M. Eng., Ph.D., IPM</p>
                    <p><b>Pembimbing 2 :</b> <br> Ir. Agus Arif, M.T.</p>
                </div>
                <div class="footer-section">
                    <h3>Alamat</h3>
                    <p><b>Departemen Teknik Nuklir & Teknik Fisika</b><br>
                    Fakultas Teknik, Universitas Gadjah Mada<br>
                    Jl. Grafika 2, Yogyakarta 55281, Indonesia<br>
                    Phone/Fax: +62-274-580882<br>
                    Email: dtntf.ft@ugm.ac.id</p>
                </div>
                <div class="footer-section">
                    <h3>Social</h3>
                    <p><b>LinkedIn: </b> <br> www.linkedin.com/in/eko-david-kurniawan </p>
                    <p><b>Github: </b> <br> ekodavidkurnia</p>
                    <p>ekodavidkurnia@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

    <div id="copyright">
        <div class="wrapper">
            &copy; 2021. <b>Eko David Kurniawan</b>
        </div>
    </div>
    
    
</body>
</html>